.container {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.5vw;
    align-items: center;
    padding: 0.75rem;
    background-color: #FFFFEF;
    border-radius: 8px;
    margin: 0.575rem auto;
    height: 15vh;
    width: 90vw;
    border: 1.5px solid rgb(16, 137, 16, 0.5);
}

.colorBox {
    color: white;
    width: 10vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-size: clamp(8px, 1.4vw, 16px);
}

.colorBox img {
    width: 10vh;
    height: 10vh;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.colorBox p {
    margin-top: 1vh;
    font-size: clamp(8px, 1.4vw, 16px);
    color: #333;
}

.attributeName {
    padding: 1vw;
}

.gameItem {
    padding: 0.575vh 0.575vh;
    border-bottom: 1px solid #ccc;
}
  
.gameItem:last-child {
    border-bottom: none;
}