.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-direction: column;
    gap: 2rem;
}
  
.button {
    background-color: #9FC131;
    border: none;
    color: #1f1f1c;
    height: 8vh;
    width: 45vw;
    margin-bottom: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 15px;
    cursor: pointer;
    font-size: clamp(12px, 1.4vw, 16px);
    font-weight: bold;
    box-shadow: 0 8px 0 #738D22;
    transition: all 0.25s ease;
}

.button:hover {
    transform: translateY(6px);
    box-shadow: none;
}
