.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
  
.card {
    height: 40vh;
    width: 40vw;
    background-color: #1f1f1c;
    border: 1.5px solid #9FC131;
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.button {
    background-color: #9FC131;
    border: 1.5px solid #9FC131;
    color: #1f1f1c;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: box-shadow 0.15s ease;
}
  
.button:last-child {
    margin-bottom: 0;
}

.button:hover {
    box-shadow: 0 0 10px #9FC131;
}